@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ========== Presets ============= */

:root {

    --gold: hsl(51, 100%, 50%);
    --blue: hsl(240, 100%, 50%);
    --darkblue: rgb(53, 22, 128);
    --purple: hsl(300, 100%, 25%);
    --light-purple: hsl(293, 38%, 67%);
    --green: hsl(120, 100%, 25%);
    --yellow: hsl(60, 100%, 50%);
    --orange: hsl(39, 100%, 50%);
    --red: hsl(0, 100%, 50%);
    --brown: hsl(0, 59%, 41%);
    --beige: hsl(60, 56%, 91%);
    --dodgerblue: hsl(210, 100%, 56%);
    --skyblue: hsl(197, 71%, 73%);
    --antiquewhite: hsl(34, 78%, 91%);
    --rebeccapurple: hsl(270, 50%, 40%);
    --orangered: hsl(16, 100%, 50%);
    --li-hover-bg: hsla(300, 100%, 25%, 0.3);
    --maxWidth: 100svw;
    --maxHeight: 100svh;
    --inline-padding: 1.5rem 2.5rem;  
    --pad05: 0.5rem;
    --pad1: 1rem;
    --pad2: 2rem;
     
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    hanging-punctuation: first last;
}

html,
body {
    min-width: 100svw;
    min-height: 100svh;
    scroll-behavior: smooth;
}
    
body {
    display: grid;
    place-content: center;
}

img, picture, svg, video {
    display: inline block;
    max-width: 100%;
    box-sizing: border-box;
}

button, a, h1, h2, h3, h4,
figcaption {
    padding-block: var(--pad05);
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    max-width: 75ch;
    line-height: 2;
    text-wrap: pretty
}

button {
    cursor: pointer;
    text-wrap: wrap;
}

/*===/// End Preset CSS \\\=== */

/*===/// Interactive Classes ===\\\ */

.show {
    display: block;
    visibility: visible;
    opacity: 1;
}

.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
}

/*===/// End Interactive Classes ===\\\ */

/*===/// Grid and Flex Presets ===\\\ */

.grid-auto-fit {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(30ch, 1fr)));
    place-content: center;
}

#landing {  
	display: grid;
	position: relative;
	padding: 1rem 1rem;
	gap: 1.5rem;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: auto;
	grid-template-areas:
	'header header'
	'main main'
	'footer footer';
    inline-size: calc(var(--maxWidth) - 2rem);
}

header, footer, footer div, aside,
li, header section, .links ul {
    display: inline flex;
}

/*===/// End Grid and Flex Presets ===\\\ */

/*===/// Content Based CSS \\\=== */

header, aside, li, header section, .links ul,
.products, .products section, .brandNameTitle {
    justify-content: center;
}

header, aside, li, .links ul, .products,
.products section {
    align-items: center;
}

.products, aside, header, header section {
    justify-content: space-between;
}

footer div {
     justify-content:space-around;
}

.links ul, #hdrNav {
    justify-content: space-evenly;
}

header {
    max-inline-size: calc(var(--maxWidth) - 2rem);
    padding: var(--pad1) var(--pad05);
    align-items: center;
    flex-direction: column;
    margin-inline: auto;  
}

footer {
    inline-size: 100%;
    max-inline-size: 90%;
    margin-inline: auto;
}

footer div {
    flex-direction: row;
    align-items: baseline;
    inline-size: 100%;
    max-inline-size: 80svw;
    margin-inline: auto;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    flex-wrap: wrap;
    flex-basis: 1 1 1;

    & span {
        color: var(--dodgerblue);
        text-shadow: 0 0.05rem 0.01rem var(--green);
        font-weight: 700;
        flex-basis: 1;
        font-size: clamp(0.8rem, 1ch, 1.2rem);
        text-align: center;
    }
}
        
header section {
    flex-direction: column;
    gap: 1rem;
    align-items: baseline;
}

.navigation {
    height: 6.5rem;
}
    
.links {
    inline-size: 100%;
}
    
.links ul {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
            
        
    & li {
        border: 0.2rem ridge var(--gold);
        filter: drop-shadow(0 0.1rem 0.2rem rebeccapurple, 0 -0.1rem 0.2rem var(--gold));
        background-color: var(--beige);
        border-radius: 0.5rem;
        
        & a {
            font-size: clamp(1.2rem, 1.5ch, 2rem);
            color: var(--dodgerblue);
            text-shadow: 0 0.1rem 0.4rem var(--green);
            font-weight: bold;
            letter-spacing: 0.1rem;
            line-height: 1.2;
            transition: all 1000ms ease-in-out;
            padding-block: 0.5rem;
            padding-inline: 1rem;
            
        }
          
        & :hover {
            color: var(--beige);
            text-shadow: 0 -0.1rem 0.4rem var(--blue);
        }
    } 
}

.products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
        & section {
            flex-basis: 1;
            transition: all 1000ms ease-in-out;
        
            & h2 {
                color: var(--orange);
                text-shadow: 0 0.05rem 0.01rem var(--green);
                font-weight: 700;
                font-size: 1.2rem;
                               
                &:hover {
                    color: dodgerblue;
                    text-shadow: 0 0.05rem 0.01rem var(--green);
                }
            }
        }  
}

aside {
        max-width: calc(var(--maxWidth) - (var(--pad1) * 2));
        inline-size: 100%;
        height: auto;
        gap: 1rem;
        position: relative;
        padding: var(--pad05) var(--pad1);
    }
    
.logo {
    max-inline-size: 10rem;
    }

#login {
    display: grid;
    min-height: 5rem;
    inline-size: 100%;
    place-content:center;
}
        
#login h1 {
    letter-spacing: 1rem;
    line-height: 1.2;
    font-weight: 800;
    color: var(--dodgerblue);
    text-shadow: 0 0.2rem 0.2rem var(--gold), 0.2rem 0.2rem 0.2rem var(--green);
    font-size: clamp(1.5rem, 1.75rem, 2rem);
    text-align: center;

        &:hover {
            color: var(--green);
            text-shadow: 0 0.2rem 0.2rem  var(--antiquewhite), -0.2rem 0.2rem 0.2rem var(--orangered);

        }
}

.loginBtn {
    border: 0.2rem groove var(--dodgerblue);
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: clamp(1rem, 1.2ch, 1.5rem);
    background-color: antiquewhite;
    color: var(--dodgerblue);
    text-shadow: 0 0.1rem 0.2rem var(--blue);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
}

@media (max-width: 25rem) {
        
    header,
    header section, #navigation {
        flex-direction: column;
    }

    .button-three {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    #login h1 {
        color: var(--dodgerblue);
        text-shadow: 0 0.1rem 0.2rem var(--green);
        font-size: clamp(2em, 3ch, 5em);
    }

    #hdrNav {
        display: grid;
        grid-template-columns: auto-fit minmax(25rem, 1fr);
        place-content: center;
        padding: var(--pad05);
        animation: reveal 1000ms ease-in-out forwards; 
        gap: var(--pad1);
        opacity: 1;
        visibility: visible;
    }

    #hdrNav li {
        border: 0.2rem solid var(--green);
        border-radius: 0.5rem;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        font-weight: 700;
    }
}

@media (min-width: 25rem) {

    header {
        max-inline-size: calc(81.25rem - var(--pad2));
        min-width: 80rem;
        padding: var(--pad1) var(--pad05);
    }
    
    header section {
        max-inline-size: calc(79.25rem - var(--pad2));
        }
        
    aside {
        max-inline-size: calc(var(--maxWidth) - (var(--pad1) * 2));
        width: 100%;
        height: auto;
        gap: 1rem;
        position: relative;
        padding: var(--pad05) var(--pad1);
    }

    aside h2 {
        color: var(--beige);
        text-shadow: 0 0.1rem 0.1rem var(--blue);
    }

    .hamburger {
        opacity: 1;
        visibility: visible;
        display: block inline;
        width: 4svw;
        top: 1rem;
        left: 1rem;
    }
        
    .navigation {
        height: 6.5rem;
    }
        
    .links {
        inline-size: 80rem;
        margin-inline: auto
    }
            
    .links ul {
        flex-direction: row;
        flex-wrap: wrap;
        inline-size: 100%;  
    }

    #login h1 {

        color: var(--gold);
        text-shadow: 0 0.1rem 0.4rem var(--rebeccapurple);
        font-size: 5rem;
    
        &:hover {
            color: var(--green);
            text-shadow: 0 -0.2rem 0.2rem  var(--antiquewhite), -0.2rem 0.2rem 0.2rem var(--orangered);
        }
    }
              
    #hdrNav {
        display: none;
        max-inline-size:80svw;
        padding: var(--pad05);
        animation: reveal 1000ms ease-in-out forwards; 
        gap: var(--pad1);
        opacity: 0;
        visibility: hidden;
        right: 0.5rem;
        flex-wrap: wrap;
    }

    @keyframes reveal {
        0% {
            width: 43rem;
            opacity: 0;
            visibility: hidden;
            display: none;
        }
        100% {
            width: 80rem;
            opacity: 1;
            visibility: visible;
            display: flex;
        }
    }
       
    @keyframes hide {
        100% {
            opacity: 0;
            visibility: hidden;
            width: 45rem;
            display: none;
        }
        0% {
            width: 80rem;
            opacity: 1;
            visibility: visible;
            display: flex;
        }
    } 
        
    #hdrNav li {
        padding: var(--pad05) var(--pad1);
        list-style: none;
        border: 0.2rem solid var(--blue);
        border-radius: 0.4rem;
        max-width: 15rem;
        transition: all 500ms ease;
    }


    #hdrNav li:hover {
        border: 0.2rem solid var(--rebeccapurple);
        background-color: var(--li-hover-bg);
    }
    #hdrNav li a {
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        line-height: 1.5;
        color: var(--clr-primary);
        text-shadow: 0 0.1rem 0.2rem var(--gold);
        transition: all 500ms ease-in-out;
        background-color: transparent;
    }

    #hdrNav li a:hover {
        color: var(--gold);
        text-shadow: 0 0.1rem 0.2rem var(--blue);
        transition: all 500ms ease-in-out;
    
    }

    .button-three {
        display: block inline;
        opacity: 1;
        visibility: visible;
        background: transparent;
        border: 10px solid var(--button-color, #bc0fd3);
        border-radius: 1rem;
        --button-color: rgba(0, 9, 128, 0.4);
        overflow: hidden;
    }

    .button-three .hamburger {
        transition: translate 1s, rotate 1s;
    }

    .button-three[aria-expanded="true"] .hamburger {
        translate: 5px -5px;
        rotate: 0.122turn;
    }

    .button-three .line {
        transition: 1s;
        stroke-dasharray: 60 31 60 300;
    }

    .button-three[aria-expanded="true"] .line {
        stroke-dasharray: 60 107 60 300;
        stroke-dashoffset: -90;
    }

    .btn {
        rotate: 0;
        scale: 1;
        max-width: 14.5rem;
        transition: all 500ms ease-in-out;
    }

    .btn:hover {
        --button-color: var(--orange);
        rotate:360deg;
        scale: .8;
    }

/* ================================= */

    button {
        color: var(--blue);
        text-shadow: 0 0.025rem 1rem var(--rebeccapurple);
        background-color: var(--skyblue);
        border: 0.1rem solid var(--rebeccapurple);
        text-transform: capitalize;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 500ms;
        border-radius: 0.4rem;
    }

    button:hover {
        
        color: rgb(37, 2, 48);
        text-shadow: 0 0.025rem 1rem var(--darkblue);
        background-color: var(--light-purple);
        border: 0.1rem solid var(--rebeccapurple);
        cursor: pointer;
        transition: all 500ms;
    }

    .products {
        flex-direction: row;
    }
}

