/* ========== Presets ============= */

:root {
    --inline-padding: 1.5rem 2.5rem;
}

html {
    hanging-punctuation: first last;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

p {
    max-width: 75ch;
    line-height: 2;
    text-wrap: pretty
}

/* ================================= */

button {
    color: blue;
    text-shadow: 0 0.025rem 1rem purple;
    background-color: skyblue;
    border: 0.2rem solid purple;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 500ms;
    border-radius: 0.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: all 600ms;
}

button:hover {
    color: rgb(37, 2, 48);
    text-shadow: 0 0.025rem 1rem rgb(53, 22, 128);
    background-color: rgb(195, 138, 202);
    border: 0.2rem solid rgb(9, 0, 128);
}

aside h2 {
    color: beige;
    text-shadow: 0 0.1rem 0.1rem blue;
}

html,
body {
    width: 100svw;
    height: 100svh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body .container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100svh;
    row-gap: 2rem;
}


footer,
ul,
aside,
main section,
header,
nav {
    display: flex;
}

header,
nav {
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.5rem;
}

nav .nav__main--5 {
    text-transform: uppercase;
}

.brandNameTitle {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.2rem;
    line-height: 1.2;
    color: blue;
    text-shadow: 0 0.1rem 0.125rem purple;
}

main {
    width: 100%;
    min-height: 40svh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0;
}

main > * {
    min-height: 20rem;
}

/* Project Promotion*/
main section {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: blueviolet;
    text-shadow: 0 0.1rem 0.125rem blue;
    letter-spacing: 0.1rem;
    border-radius: 4rem;
    box-shadow: 0.5rem 0.25rem 0.25rem  0.25rem blue, -0.5rem 0.25rem 0.25rem  0.25rem rgb(91, 15, 126);
    min-width:35svw;
    border: none;
}

/*  links to popular sites  */
aside {
    /* display: flex; */
    max-width: 30ch;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

ul {
    /* display: flex; */
    flex-direction: column;
    gap: 3rem;
}

ul li {
    text-align: center;
    border-radius: 100svw;
    box-shadow: 0 0.125rem 0.2rem 0.4rem rgba(128, 0, 128, 0.4), 0 0.125rem 0.2rem 0.3rem rgba(0, 0, 255, 0.5);
    padding: 0.25rem 0.5rem;
    background-color: rgb(123, 123, 221, 0.4);
    transition: all 500ms;
}


ul li:hover {
    box-shadow: 0 0.125rem 0.2rem 0.4rem rgba(128, 0, 0, 0.4), 0 0.125rem 0.2rem 0.3rem rgba(255, 0, 212, 0.5);
    padding: 0.25rem 0.5rem;
    background-color: rgb(123, 123, 221, 0.4);
    background-color: rgba(210, 123, 221, 0.4);
}

ul li a {
    font-weight: 600;
    color: blue;
    letter-spacing: 0.1rem;
    transition: all 500ms;
}

ul li a:hover {
    color: #a360ac;
}

.product__new--1,
.product__new--2 {
    flex-basis: 40%;
    border: 0.2rem solid purple;
    padding: 0.5rem;
}

.product__new--1 h2,
.product__new--2 h2 {
    padding: 0.5rem;
}

footer {
    /* display: flex; */
    justify-content: center;
    align-items: end;
    color: rgba(138, 43, 226, 0.4);
    text-shadow: 0 0.1rem 0.125rem rgba(0, 0, 255, 0.4);
    letter-spacing: 0.1rem;
    font-weight: 500;
    width: 100%;
    min-height: 20svh;
}